<h3 class="ui-bar ui-bar-a ui-corner-none">Teams</h3>
<ul data-role="listview" data-inset="true" data-filter="true">
  <% @teams.each do |team| %>
    <li><%= link_to team.formalname, team %></li>
  <% end %>
</ul>
