<h3 class="ui-bar ui-bar-a ui-corner-none">New Ad</h3>


<%= render 'form' %>

<br />
<div class="ui-grid-a">
  <div class="ui-block-a"><%= link_to 'Admin<br />&nbsp;'.html_safe, page_path('admin'), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-back ui-mini" %></div>
  <div class="ui-block-b"><%= link_to 'Ad<br />Admin'.html_safe, ads_path, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-back ui-mini" %></div>
</div>
<br />
