<!--
<h3>Welcome</h3>
<p><%#= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p>Some content goes here.</p>
-->
<div style="border: 1px dashed red; margin: 0px auto; text-align: center;">
  <img style="max-width: 90%;" src="<%= image_url("BigALogoYellow.svg") %>">
</div>

