<h3 class="ui-bar ui-bar-a ui-corner-none">Editing Sport</h3>

<%= render 'form' %>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Admin', page_path('admin'), :'data-role' => "button", :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Sport Admin', page_path('admin/sport'), :'data-role' => "button", :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Show Sport', @sport, :'data-role' => "button", :'data-icon' => "eye", :'data-inline' => "true" %>
</div>
