<h3 class="ui-bar ui-bar-a ui-corner-none">Sports</h3>

<ul data-role="listview" data-inset="true" data-filter="true" data-autodividers="true">
  <% @sports.each do |sport| %>
    <li><%= link_to sport.name, sport %></li>
  <% end %>
</ul>
