<h3 class="ui-bar ui-bar-a ui-corner-none">Edit Team Coaches</h3>

<%= render 'form' %>

<div class="ui-grid-b">
  <div class="ui-block-a"><%= link_to 'Admin', page_path('admin'), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-back ui-mini"%></div>
  <div class="ui-block-b"><%= link_to 'Coach Admin', page_path('admin/coach'), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-back ui-mini"%></div>
  <div class="ui-block-c"><%= link_to 'Show Team Coaches', @coaches_team, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-eye ui-mini"%></div>
</div>
