<h3 class="ui-bar ui-bar-a ui-corner-none">New Opponent</h3>

<%= render 'form' %>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Back to Opponents', opponents_path, :'data-role' => 'button', :'data-icon' => "back", :'data-inline' => "true" %>
</div>
~         
