<h3 class="ui-bar ui-bar-a ui-corner-none">Edit Result</h3>

<%= render 'form' %>

<div class="ui-grid-b">
  <div class="ui-block-a"><%= link_to 'Admin<br />&nbsp;'.html_safe, page_path('admin'), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-back ui-mini" %></div>
  <div class="ui-block-b"><%= link_to 'Result<br />Admin'.html_safe, page_path('admin/result'), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-back ui-mini" %></div>
  <div class="ui-block-c"><%= link_to 'Show<br />Result'.html_safe, @result, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-eye ui-mini" %></div>
</div>

