<h3 class="ui-bar ui-bar-a ui-corner-none">Edit Result</h3>

<%= render 'form' %>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Admin', page_path('admin'), :'data-role' => 'button', :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Result Admin', page_path('admin/result'), :'data-role' => 'button', :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Show Result', @result, :'data-role' => 'button', :'data-icon' => "eye", :'data-inline' => "true" %>
</div>

