<h3 class="ui-bar ui-bar-b ui-corner-all">New Sports Venue Assignment</h3>

<%= render 'form' %>

<div data-role="control-group" data-type="horizontal">
  <%= link_to 'Back to Sports Venues', sports_venues_path, :'data-role' => 'button', :'data-icon' => "back", :'data-inline' => "true" %>
</div>
