<h3 class="ui-bar ui-bar-a ui-corner-none">Edit Event</h3>

<%= render 'form' %>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Back to Events', events_path, :'data-role' => 'button', :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Show Event', @event, :'data-role' => 'button', :'data-icon' => "eye", :'data-inline' => "true" %>
</div>

