<% content_for :title do %>About<% end %>
<h3 class="ui-bar ui-bar-a ui-corner-none">About the Apex Cougar Club</h3>
<div class="ui-body ui-body-a ui-corner-all">
  <h4>Background</h4>
  <p>The Cougar Club provides 60% of the athletic budget for Apex High School.  </p>
  <ul>
    <li>Wake County Public Schools provides NO MONEY for athletics other than coaches salaries.</li>
    <li>Without the Cougar Club, Apex High School would have to cut 22 of its 37 sports teams.</li>
    <li>Without the Cougar Club, 600 of the 1000 student athletes could not play sports at Apex.</li>
    <li>The Club needs 30 to 60 active board members to function properly. Your club needs your active participation.</li>
  </ul>
  <p>If you feel sports are important to your children, you MUST get involved because nobody else will support them. Please join the Board of Directors by sending an email to <a href="mailto:joinboard@apexcougarclub.org">joinboard@apexcougarclub.org</a>.</p>
  <h4>Our Mission</h4>
  <p>The Apex Cougar Club is a not for profit fundraising organization that supports the annual budget presented by the Apex High School Athletic Director.</p>
  <p>The various activities we use to raise this money involve a great deal of work, but we have a good time accomplishing our goals.</p>
  <p>WE NEED YOUR HELP to continue to make our program one of the best. Please join the Board of Directors by sending an email to <a href="mailto:tojoinboard@apexcougarclub.org">joinboard@apexcougarclub.org</a>.</p>
</div>
