<% content_for :title do %>Admin<% end %>
<div data-role="container">
  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider"><h1>Administrative Tasks</h1></li>
    <li><div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#" data-role="button">TBD</a>
      </div>
      <div class="ui-block-b">
        <%= link_to 'Venues', page_path('admin/venues'), :'data-role' => "button", :'data-icon' => "grid" %>
      </div>
      <div class="ui-block-a">
        <%= link_to 'Teams', page_path('admin/teams'), :'data-role' => "button", :'data-icon' => "grid" %>
      </div>
      <div class="ui-block-b">
        <a href="#" data-role="button">TBD</a>
      </div>
      <div class="ui-block-a">
        <a href="#" data-role="button">TBD</a>
      </div>
      <div class="ui-block-b">
        <a href="#" data-role="button">TBD</a>
      </div>
      <div class="ui-block-a">
        <a href="#" data-role="button">TBD</a>
      </div>
      <div class="ui-block-b">
        <a href="#" data-role="button">TBD</a>
      </div>
      <div class="ui-block-a">
        <a href="#" data-role="button">TBD</a>
      </div>
      <div class="ui-block-b">
        <a href="#" data-role="button">TBD</a>
      </div>
    </div></li>
  </ul>
</div>
