<% content_for :title do %>Volunteer Opportunties<% end %>
<h3 class="ui-bar ui-bar-a ui-corner-none">Apex Cougar Club Volunteer Opportunties</h3>
<div class="ui-body ui-body-a ui-corner-all">
  <p>
  <% if Settings.AppSettings.SignUpGenius && Sug.where(:active => true).count > 0 %>
    <!-- Sign Up Genius -->
    <ul data-role="listview" data-count-theme="a" data-inset="true" data-filter="false" data-autodividers="true">
    <% sugs = Sug.where(:active => true).order(:name => :asc) %>
    <% sugs.each do |sug| %>
      <li><%= link_to sprintf("<img src=\"%s\"><h2>%s</h2><p>%s</p>",
            image_path('webapp/icons/SignUpGenius-80x80.png'), sug.name, sug.description).html_safe,
            sug.sugurl %></li>
    <% end %>
    <!-- /Sign Up Genius -->
    </ul>
  <% end %>
  </p>
</div>
