<h3 class="ui-bar ui-bar-a ui-corner-none">New Venue</h3>

<%= render 'form' %>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Admin', page_path('admin'), :'data-role' => "button", :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Venue Admin', page_path('admin/venue'), :'data-role' => 'button', :'data-icon' => "back", :'data-inline' => "true" %>
</div>
