<h3 class="ui-bar ui-bar-a ui-corner-none">Edit Coach Profile</h3>

<%= render 'form' %>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Back to Coaches', coaches_path, :'data-role' => 'button', :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Show Coach', @coach, :'data-role' => 'button', :'data-icon' => "user", :'data-inline' => "true" %>
</div>
