<h3 class="ui-bar ui-bar-a ui-corner-none">Edit Coach Profile</h3>

<%= render 'form' %>

<br />
<div class="ui-grid-b">
  <div class="ui-block-a"><%= link_to 'Admin<br />&nbsp;'.html_safe, page_path('admin'), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-back ui-mini" %></div>
  <div class="ui-block-b"><%= link_to 'Coach<br />Admin'.html_safe, page_path('admin/coach'), :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-back ui-mini" %></div>
  <div class="ui-block-c"><%= link_to 'Show<br />Coach'.html_safe, @coach, :class => "ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-eye ui-mini" %></div>
</div>
<br />
