<h3 class="ui-bar ui-bar-a ui-corner-none">Coaches</h3>
<ul data-role="listview" data-inset="true" data-filter="true" data-autodividers="true">
  <% @coaches.each do |coach| %>
    <li><%= link_to coach.lastcommafirst, coach %></li>
  <% end %>
</ul>   
