<h3 class="ui-bar ui-bar-a ui-corner-none">Edit Team Athletes</h3>

<%= render 'form' %>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Back to Team Athletes', athletes_teams_path, :'data-role' => "button", :'data-icon' => "back", :'data-inline' => "true" %>
  <%= link_to 'Show Team Athletes', @athletes_team, :'data-role' => "button", :'data-icon' => "eye", :'data-inline' => "true" %>
</div>
