#banner-content {
}

#banner-content img {
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.collapsible-fix {
    margin: 0em !important;
}

.ui-li-count-fix {
    right: 3.2em !important;
    background-color: white;
    border-color: #dddddd;
    color: #333333;
    text-shadow: 0 1px 0 #f3f3f3;
}

#splash-content-svg {
    z-index: 999;
    width: 75%;
    margin: 0 auto;
}

#splash-content-png {
    z-index: 999;
    width: 90%;
    margin: 0 auto;
}

.flash-notice {
  color: green;
}

.flash-alert {
  color: red;
}

.center-wrapper{
text-align: center;
}
.center-wrapper * {
margin: 0 auto;
}
