#banner-content {
}

#banner-content img {
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.collapsible-fix {
    margin: 0em !important;
}

.ui-li-count-fix {
    right: 3.2em !important;
    background-color: white;
    border-color: #dddddd;
    color: #333333;
    text-shadow: 0 1px 0 #f3f3f3;
}

.splash-content-svg {
    z-index: 999;
    width: 75%;
    margin: 0 auto;
}

.splash-content-png {
    z-index: 999;
    width: 90%;
    margin: 0 auto;
}

.flash-notice {
  color: green;
}

.flash-alert {
  color: red;
}

.center-wrapper{
text-align: center;
}

.center-wrapper * {
margin: 0 auto;
}

.event-scheduled {
    font-style: oblique;
}

.event-rescheduled {
    color: green;
    font-style: oblique;
}

.event-postponed {
    color: red;
    font-style: oblique;
}

.event-canceled {
    color: red;
    font-style: oblique;
}

.framed-p {
    margin-right: 1.0em;
}

.framed-image {
    max-width: 100%;
    padding:0.692em;
    /*background:#F7EFDB;*/
    /*border-color: #E0D5BB;*/
    background:#EEEEEE;
    border-color: #A0A0A0;
    border-width:0.077em;
    border-style:solid;
}

.sponsor-p {
    margin-right: 1.0em;
}

.sponsor-image {
    max-width: 100%;
    border: 1px solid #A0A0A0 !important;
    /*background:#F7EFDB;*/
    /*border-color: #E0D5BB;*/
/*
    padding:0.692em;
    background:#EEEEEE;
    border-color: #A0A0A0;
    border-width:0.077em;
    border-style:solid;
*/
}
